.container-wellness{
    width:90%;
    padding-block:1rem;
    overflow: hidden;
    height: auto;
    background-color: white;
    border-radius: 5px;
    position: relative;
    
}
.container-wellness.dark{
    background-color: #282D35;
}
.cont-img-wellness h3{
    color:white;
    font-size:clamp(1rem, 5vw, 2rem);
    position: absolute;
    top: 1rem;
    left: 1.25rem; 
    z-index: 3;
}
.cont-img-wellness {
    width: 100%; 
    padding-top: 66%;/*padding trick*/
    position: relative; 
    overflow: hidden;
    
}

.cont-img-wellness::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
    background: -moz-linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
    background: -webkit-linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#30C5D2", endColorstr="#471069", GradientType=1 );
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .img-wellness {
    width: 100%;
    height:100%;
    border-radius: 5px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}


@media(min-width:1024px){
    .container-wellness{
        width: 30%;
        height: auto;
        padding-block: 0;
    }
    .cont-img-wellness h3{
        font-size:clamp(1rem, 1.5vw, 2rem);
    }
  }