@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.app-info-container {
  padding-block: 90px;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: 100vh;
}
.app-info-container.dark{
  background-color: #282D35;
}

#profile {
  height: 70vh;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.profile-pic {
  width: 400px;
  height: 400px;
  align-self: center;
}
.profile-pic img {
  width: 100%;
  border-radius: 50%;
}
.text-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: center;
}

.text-section p {
  font-weight: 600;
  color: rgb(85, 85, 85);
}

.section-header {
  text-align: center;
}

.subtitle {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: #2f195f;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: #7b2cbf
 
}
.app-info-container.dark .title{
  color: #9f73b3;
}
.btn-info {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  cursor: pointer;
  border: rgb(53, 53, 53) 0.1rem solid;
  background: none;
  margin-top: 2rem;
}
.app-info-container.dark .btn-info{
  background: white;
  color: #2f195f;
}
.btn-info:hover{
  background: #2f195f;
  color: white;
  border: rgb(255, 255, 255) 0.1rem solid;
}
.app-info-container.dark .btn-info:hover{
  background: #2f195f;
  color: white;
}
.credits{
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.credits h3 {
  font-size:clamp(1.2rem, 2vw, 1.8rem);
  margin-bottom: 0.625rem;
  color: #2f195f;
}

.credits p,
 .credits li{
  font-size:clamp(1rem, 1.2rem, 1.8rem);
  line-height: 1.4;
  text-align: justify;
  color: rgb(84, 40, 84);
  margin-block: 0.625rem;
}
.credits li{
  list-style-type: none;
}
.credits1, .credits2{
  padding: 20px;
}
.credits a{
  color: #7b2cbf;
}
.app-info-container.dark p,
.app-info-container.dark li{
  color: #bbb8c4;
}
.app-info-container.dark .credits a,
.app-info-container.dark .subtitle,
.app-info-container.dark .credits h3{
  color:  #9f73b3;
}
@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

 
}

@media screen and (max-width: 1200px) {
  
  #profile{
    display: block;
  }

  .app-info-container{
    height: fit-content;
    margin: 0 5%;
  }
  .profile-pic{
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
    
  }
 
}

@media screen and (max-width: 600px) {

  #profile {
    height: 60vh;
    margin-bottom: 0;
    margin-top: 4rem;
  }
 
  .name {
    font-size: 1.5rem;
  }
  .profile-pic{
    width: 220px;
    height:auto;
    justify-content: center;
  }
  .subtitle {  
    font-size: 1.25rem;
  }
 
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .credits{
    flex-direction: column;
    margin-top: 10rem;
    padding: 10px;
  }
  .credits1, .credits2{
    padding: 0;
  }
}

