
.home{
    min-height: 100vh;
    padding: 80px 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* padding: 1rem; */
}
.home.dark-mode {
    background-color: #282D35;
    color: #ffffff;
    /* Otros estilos específicos para modo oscuro */
  }

  @media(min-width:768px){
    .home{
      padding:6rem 1.5rem;
    }
    
  }


@media(min-width:1024px){
    .home{
        flex-direction: row;
        padding-bottom: 0;
        margin-bottom: 0;
        height: 100vh;
    }
  }