/* @media (min-width:1024px){
    .home{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
} */
.home{
    min-height: 100%;
    padding: 0;
    margin: 0;
}
.home.dark-mode {
    background-color: #282D35;
    color: #ffffff;
    /* Otros estilos específicos para modo oscuro */
  }