.challengeGallery-container {
  background-color: #f9f9f9;
}
.challengeGallery-header h1{
  color: white;
    font-size:  clamp(0.5rem, 2.8vw + 1rem, 3rem);
    position: absolute;
    z-index: 5;
    left: 50%;
    top:20%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 2;
}
.challengeGallery-header p{
  position: absolute;
    z-index: 4;
    bottom: 0;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    text-align: center;
    backdrop-filter: blur(5px);
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%); */
    padding: 15px 5px;
}
.challengeGallery-header img{
  width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center
}
.challengeGallery-header{
  position: relative;
  z-index: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}
.challengeGallery-header::before{
  content: "";
  position: absolute;
  inset: 0;
  background: hsla(185, 64%, 51%, 1);
background: linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
background: -moz-linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
background: -webkit-linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#30C5D2", endColorstr="#471069", GradientType=1 );
  width: 100%;
  height: auto;
  border-radius: 5px;
  z-index: 1;
}
.sequence-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sequence-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.625rem 1.25rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}
.challengeGallery-container.dark .sequence-card{
  background-color: #282D35;
}
.a {
  text-decoration: none;
  color: rgb(127, 50, 127);
}
.check-go{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
.check-go h2,.resting-number{
  font-size: 1.1rem;
  margin-bottom: 0;
  text-align: center;
  color: #662572;
}

.challengeGallery-container.dark .check-go h2,
.challengeGallery-container.dark .resting-number{
  color: #918E9B;
}
.challenge-favorites{
  width: 20px;
  height: 20px;
  padding-top: 2px;
}
.challengeGallery-container.dark .challenge-favorites{
  color: #918E9B;
}
.favorito-activo{
  fill:#662572; 
  width: 20px;
  height: 20px;
  padding-top: 2px;
}
.challengeGallery-container.dark .favorito-activo{
  fill:#9843a8
}
.next-icon{
  width: 20px;
  height: 20px;
  margin:0;
  display: block;
}

.sequence-info {
  font-size: 1rem;
  color: #666;
}
.challenge-breathe{
  position: relative;
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards 3s;
}
.challenge-loading{
  position: absolute;
  z-index: 2;
  top: 12%;
  left: 30%;
  color: rgb(64, 108, 116);
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards; /* Animación de desvanecimiento durante 3 segundos */
}

@keyframes fadeIn {
  from {
      opacity: 0; /* Opacidad inicial */
  }
  to {
      opacity: 1; /* Opacidad final */
  }}
