
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*, *::before{
  padding: 0;
  box-sizing: border-box;
  margin:0;
}
html{
  background-color: white;
}

html .dark-mode{
  background-color: #282D35;
}
body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  min-width: 350px;
  
  }

.dark-mode{
  background-color: #282D35;
}
