.container-poselist {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 80px;
  padding-inline: clamp(1rem, 4vw, 2rem); /* Ajuste dinámico del padding */
  background-color: white;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.container-poselist.dark {
  background-color: #282D35;
}

.container-poselist::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsla(185, 64%, 51%, 1);
  background: linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
  background: -moz-linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
  background: -webkit-linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#30C5D2", endColorstr="#471069", GradientType=1);
  z-index: -1;
  pointer-events: none;
  
}

.asana-poselist {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 1.25rem;
  
  
}

.asana-poselist a {
  text-decoration: none;
  color: rgb(127, 50, 127);
  width: 100%;
  max-width: 150px;
  height: 150px;
  
}

.poselist-asana-item {
  margin-bottom: 0.625rem;
  padding: clamp(0.625rem, 1vw, 1rem); /* Ajuste del padding */
  border-radius: 10px;
  background-color: #fdfdfc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.container-poselist.dark .poselist-asana-item {
  background-color: #282D35;
  box-shadow: 4px 4px 8px rgba(154, 92, 161, 0.3);
}

.poselist-asana-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(221, 157, 232, 0.1);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 5;
}

.poselist-asana-item img {
  padding-top: 3px;
  width: 80px;
  height: auto;
  border-radius: 50%;
  filter: brightness(120%);
}

.container-poselist.dark .poselist-asana-item img {
  background-color: white;
  box-shadow: 0 2px 8px rgba(83, 64, 110, 0.6);
}

.poselist-asana-item p {
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 600;
  text-align: center;
}

.container-poselist.dark .poselist-asana-item p {
  color: #bbb8c4;
}

.poselist-asana-item:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.asana-list {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.asana-item {
  width: 100px;
  height: 100px;
  font-size: 14px;
}

.asana-item img {
  width: 50px;
  margin: 5px;
}

.breathe {
  position: relative;
}

.poses-loading {
  position: absolute;
  z-index: 2;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(64, 108, 116);
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 600px) {
  .asana-poselist {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 900px) {
  .asana-poselist {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1200px) {
  .asana-poselist {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1500px) {
  .asana-poselist {
    grid-template-columns: repeat(7, 1fr);
  }
}
