.container-posedetail {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  min-height: 100vh; 
  padding-block: 70px;
  }
.container-posedetail.dark{
  background-color: #282D35;
}
.container-posedetail::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background: hsla(185, 64%, 51%, 1);
    background: linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
    background: -moz-linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
    background: -webkit-linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#30C5D2", endColorstr="#471069", GradientType=1);
    z-index: -1; 
    pointer-events: none;
  }
  .container-posedetail-info{
    width: 90%;
    height: auto;
    margin: 1.25rem;
    background-color: white;
    border-radius: 20px;
    padding: 1.87rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  .container-posedetail.dark .container-posedetail-info{
    background-color: #282D35;
  box-shadow: 4px 4px 8px rgba(154, 92, 161, 0.3);
  }
  .container-posedetail-info img{
    width: 70%; 
    height: 70%;
    display: block;
    margin: 0 auto; 
    filter: brightness(120%);
  }
  
  .container-posedetail-info h2 {
    text-align: center;
    font-size:clamp(1rem, 4.5vw, 2rem);
    margin-bottom: 1.25rem;
    color: rgb(69, 24, 82);
  }
  .container-posedetail.dark .container-posedetail-info h2{
    margin-top: 1.25rem;
  }
  .container-posedetail.dark .container-posedetail-info h2,
  .container-posedetail.dark .container-posedetail-info h3,
  .container-posedetail.dark .container-posedetail-info p{
    color: #bbb8c4;
  }
  .container-posedetail-info h3 {
    font-size:clamp(1rem, 3vw, 2rem);
    margin-bottom: 0.625rem;
    color: rgb(69, 24, 82);
  }
  .container-posedetail-info p {
    font-size:clamp(1rem, 3vw, 2rem);
    line-height: 1.4;
    text-align: justify;
    color: rgb(95, 37, 95);
    margin-block: 0.625rem;
  }
 
.back-to-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .back-to-container button{
    border: none;
    cursor: pointer;
    background: none;
  }
  .container-posedetail.dark .back-to-container svg{
    color: #bbb8c4;
  }
  .back-to-container svg{
    display: block;
   text-align: center;
    text-decoration: none;
    padding: 3px;
    color:rgb(71, 23, 77); 
    background-color: rgb(138, 43, 226,0.2);
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .back-to-container button:hover,
  .back-to-container a :hover{
    transform: scale(1.5);
    transition: transform 0.2s ease-in-out; 
  }
  .pose-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: hsla(185, 64%, 51%, 1);
    background: linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
    background: -moz-linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
    background: -webkit-linear-gradient(90deg, hsla(185, 64%, 51%, 0.3) 0%, hsla(277, 74%, 24%, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#30C5D2", endColorstr="#471069", GradientType=1);
    z-index: 0;
    color: white;
    font-size:clamp(1,5rem, 3vw, 2rem);
    font-weight: bold;
    pointer-events: none;
    
  }
  